@model IEnumerable<Models.ProductModelFix.ProductListTbModel>

@foreach (var item in Model)
{
    <div class="item_select col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="product_img">
            <div class="icon_flat">
            </div>
            <a href="/san-pham/@item.Alias">
                <img alt="" class="img-responsive" src="@Url.Content(item.Image)">
            </a>
        </div>
        <div class="product_title">
            <h3><a href="/san-pham/@item.Alias">@item.Name</a></h3>
        </div>
        <div class="product_price">
            <span class="price_new">@item.Price  ₫</span>
        </div>
        <div class="area_btn"  data-id="@item.Id" data-image="@Url.Content(item.Image)" data-name="@item.Name" data-price="@item.Price">
            @{
                Html.RenderAction("AddCart", "ShopingCart");
            }
        </div>
    </div>
}