@model PagedList.IPagedList<Models.EF.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<header class="navbar-fixed-top" style="margin-left:240px;">
    <nav class="navbar navbar-default navbar-static-top no-margin" role="navigation" style="min-height:60px;">
        <div class="col-md-9 topheaderad">
            <h4>
                <i class="fa fa-lg fa-fw fa-tag"></i> Danh mục sản phẩm
            </h4>
        </div>
        <div class="col-md-3 topheaderad">
            <div class="group_button submitab">
                <a href="/Admin/Category/Create" style="text-decoration:none;">
                    <input type="submit" class="btn btn-default" value="Thêm mới" />
                </a>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid-md">
    <div class="tab-content">
        <div class="Serbox" style="width:100%; height:100px;">
            @using (Html.BeginForm("Index", "Category", FormMethod.Get))
            {
                <div style="padding-top:40px;">
                    <div class="col-md-2 seratad">
                        <a style="margin-left:90px;">
                            <input class="btn btn-default btn-primary" id="SearchCus" type="submit" value="Tìm Kiếm">
                        </a>
                    </div>
                    <div class="col-md-8 seratad">
                        @Html.TextBox("SearchString", ViewBag.CurentSearch as string, new { @class = "form-control", placeholder = "Nhập từ khóa tìm kiếm ..." })
                    </div>
                </div>
            }
        </div>
        <hr />
        <table id="table-basic" class="table table-hover vert-align">
            <thead>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Image == null)
                            {
                                <img src="~/Upload/No_image.png" height="50" width="50" />
                                @Html.ActionLink(item.Name, "Edit", new { id = item.Id},new {@style="padding-left:20px;" })
                            }
                            else
                            {
                                <img src="@Url.Content(item.Image)" height="50" width="50" />
                                @Html.ActionLink(item.Name, "Edit", new { id = item.Id}, new { @style = "padding-left:20px;" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="pagenumber">Hiển thị kết quả từ @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)-@Model.Count trên tổng @Model.Count</p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#SearchString').change(function () {
            $('#SearchCus').click();
        });
    });
</script>