@model PagedList.IPagedList<Models.ProductModelFix.ProductListTbModel>
@using PagedList.Mvc;
@if (Model == null)
{
    <h2>không có sản phẩm nào</h2>
}
else
{
    <ul class="dropdown-menu-inner" id="dropdown_menu_inner_2" style="width:220px;">

        @for (var i = 0; i < Model.Count; i++)
        {
            var product = Model[i];
            <li class="itemproduct" product-id="@Model[i].Id" data-productId="@product.Id" data-productName="@product.Name" data-productImage="@Url.Content(product.Image)">
                <i class="CheckProduct fa "></i><span>@Model[i].Name</span>
            </li>
        }
    </ul>
}




