@model BizwebTutorial.Models.CartViewModel


@using (Html.BeginForm("AddCart", "ShopingCart", FormMethod.Post, new { enctype = "multipart/form-data",@id="addPCart" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ImageProduct)
    @Html.HiddenFor(m => m.NameProduct)
    @Html.HiddenFor(m => m.PriceProduct)
    @Html.HiddenFor(m=>m.QuantityProduct)
    <button type="button" class="button btn-cart add_to_cart btn btn-default btn_theme" title="Cho vào giỏ hàng"><span>Mua hàng</span></button>
}
<script>
    $('.area_btn .add_to_cart').click(function () {
        var btnitem = $(this);
        var artributesItem = btnitem.parent().parent();
        var id = artributesItem.attr('data-id');
        var name = artributesItem.attr('data-name');
        var image = artributesItem.attr('data-image');
        var price = artributesItem.attr('data-price');
        $('#Id').val(id);
        $('#ImageProduct').val(image);
        $('#NameProduct').val(name);
        $('#PriceProduct').val(price);
        $('#QuantityProduct').val(1);
        $('#addPCart').submit();
    });
</script>